FINOS_DATABASE_URL=postgres://finos:finos@localhost:5432/finos
FINOS_EVENT_STORE=postgres
FINOS_MCP_TRANSPORT=stdio
FINOS_HTTP_HOST=0.0.0.0
FINOS_HTTP_PORT=8787
FINOS_JWT_ISSUER=finos
FINOS_AUDIT_HASH_SECRET=replace-with-rotated-secret
